.navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

hr {
    width: 100%;
    height: 1px;
    background: #CBCBCB;
}

.navbar ul {
    margin: 0;
}

.navbar ul a {
    text-decoration: none;
    margin: 0 20px;
}

.navbar ul a span {
    color: #606060;
    font-family: sans-serif;
    font-size: 17.829px;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar ul a span,
img {
    margin: auto 5px;
}

.navbar .forms form input {
    outline: none;
    border: none;
    margin: auto 10px;
    cursor: pointer;
}

.navbar .forms form a input:nth-child(1) {
    color: #606060;
    font-family: sans-serif;
    font-size: 17.829px;
    font-weight: 700;
    background: none;
}

.navbar .forms form a #button {
    color: #F9F9F9;
    font-family: sans-serif;
    font-size: 17.829px;
    font-weight: 700;
    border-radius: 17.829px;
    background: #6C5FBC;
    padding: 17.829px 26.743px;
}

.navbar .forms form a {
    text-decoration: none;
}

.navbar-media {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none !important;
    }

    .navbar-media {
        display: block;
    }
}

.Nav-Body {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(157 157 157 / 28%);
    backdrop-filter: blur(16px);
    z-index: 9999;
    padding: 10px;
}

.Nav-Body .classclosebtn {
    position: absolute;
    top: 2rem;
    left: 80%;
}

.Nav-Body ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Nav-Body ul a {
    text-decoration: none;
    margin: 10px 0;
}

.Nav-Body ul a span {
    color: #606060;
    font-family: sans-serif;
    font-size: 24.829px;
    font-weight: 500;
    text-transform: capitalize;
}

.Nav-Body ul a span,
img {
    margin: auto 5px;
}

.Nav-Body .forms form input {
    outline: none;
    border: none;
    margin: auto 10px;
    cursor: pointer;
}

.Nav-Body .forms form a input:nth-child(1) {
    color: #606060;
    font-family: sans-serif;
    font-size: 17.829px;
    font-weight: 700;
    background: none;
}

.Nav-Body .forms form a #button {
    color: #F9F9F9;
    font-family: sans-serif;
    font-size: 17.829px;
    font-weight: 700;
    border-radius: 17.829px;
    background: #6C5FBC;
    padding: 17.829px 26.743px;
}

.Nav-Body .forms form a {
    text-decoration: none;
}

.Nav-Body {
    animation: Nav-Body 0.5s ease-in-out;
}

@keyframes Nav-Body {
    0% {
        opacity: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}